<template>
  <v-container>
    <section class="white--text">
      <h1>Welcome to the Application</h1>
      <p>This application was created to demonstrate the following</p>
      <ul>
        <li>Communicating with the OpenWeatherAPI to display</li>
        <ul>
          <li>A summary of current conditions and temperature for Anchorage and Denver</li>
          <li>A more detailed view with a 5 day forcast</li>
        </ul>
        <li>
          Ability to notify user of loss of connection and being able to recover once
          connectivity is restored
        </li>
      </ul>
    </section>
    <v-row class="mt-2">
      <TcpWeatherList :cities="targetCities" class="mx-auto"></TcpWeatherList>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Home",
  data: () => ({
    title: "Current Conditions",
    targetCities: [
      {
        name: "Anchorage",
        zipcode: "99501"
      },
      {
        name: "Denver",
        zipcode: "80202"
      }
    ]
  })
};
</script>
