<template>
  <v-container fluid>
    <v-card color="secondary lighten-2" class="mb-2" dark>
      <v-card-title>
        <span>Current Weather</span>
        <v-spacer></v-spacer>
        <v-btn outlined dark @click="returnHome">Return Home</v-btn>
      </v-card-title>
      <v-card-subtitle>
        <span>{{details.city}} ( {{zipcode}} )</span>
      </v-card-subtitle>
      <v-card-text>
        <v-img height="100px;" width="100px" :src="details.icon"></v-img>
        <ul class="detail-list">
          <li>{{details.description}}</li>
          <li>Humidity: {{details.humidity}}</li>
          <li>Pressure: {{details.pressure}}</li>
          <li>Wind Speed: {{details.windspeed}}</li>
          <li>Wind Degree: {{details.winddegree}}</li>
          <li>Temperature: {{details.temperature}}</li>
        </ul>
      </v-card-text>
    </v-card>

    <TcpWeatherForecast :forecasts="forecasts"></TcpWeatherForecast>
  </v-container>
</template>

<script>
import { upperFirst } from "lodash";
export default {
  computed: {
    zipcode() {
      return upperFirst(this.$route.params.zipcode);
    },
    details() {
      return this.$store.getters.getDetailedSummary(this.zipcode);
    },
    forecasts() {
      return this.$store.getters.getForecastSummaries(this.zipcode);
    }
  },
  mounted() {
    // For safe meaures, try fetching the data again. If the user reloads on this
    // page the store wont contain any of the current weather info. If they are navigating
    // from the home page, the request wont go through unless the data is older thn 5 minutes
    this.$store.dispatch("FETCH_CURRENT_WEATHER", {
      zipcode: this.$route.params.zipcode,
      force: false
    });
    this.$store.dispatch("FETCH_FORECAST", {
      zipcode: this.$route.params.zipcode,
      force: false
    });
  },
  methods: {
    returnHome() {
      this.$router.push("/");
    }
  }
};
</script>

<style scoped>
.detail-list {
  list-style: none;
}
</style>