<template>
  <v-list-item two-line @click="navigate">
    <v-list-item-icon>
      <v-img v-show="summary.icon" width="35px" :src="summary.icon"></v-img>
    </v-list-item-icon>
    <v-list-item-content>
      <v-list-item-title>{{city.name}}</v-list-item-title>
      <v-list-item-subtitle>
        <span>
        <strong>{{summary.description}}</strong>
        -- 
        <em>{{summary.temperature}} °F</em>
        </span>
      </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action>
      <v-btn icon>
        <v-icon color="grey lighten-1">mdi-chevron-right</v-icon>
      </v-btn>
    </v-list-item-action>
  </v-list-item>
</template>

<script>
export default {
  props: {
    city: {
      type: Object,
      required: true
    }
  },
  computed: {
    summary() {
      return this.$store.getters.getCurrentWeatherSummary(this.city.zipcode);
    }
  },
  methods: {
    navigate() {
      this.$router.push(`/details/${this.city.zipcode}`);
    }
  },
  mounted() {
    this.$store.dispatch("FETCH_CURRENT_WEATHER", {
      zipcode: this.city.zipcode,
      force: false
    });
  }
};
</script>

<style>
</style>