<template>
  <v-card width="100%" color="secondary" dark>
    <v-card-title>5 day forecast</v-card-title>
    <v-card-subtitle><strong>Timestamps displayed are in UTC</strong></v-card-subtitle>
    <v-calendar
      :weekdays="weekdays"
      :start="start"
      :end="end"
      :max-days="maxDays"
      :type="calendarType"
    >
      <template v-slot:day="day">
        <v-sheet class="pa-1 white--text fill-height">
          <div
            v-for="(item, idx) in forecasts[day.date]"
            :key="idx"
            class="pt-4"
          >
          <span class="">
            {{item.time}}
             <br v-if="$vuetify.breakpoint.smAndDown"> 
             <span v-else> -- </span>
             {{item.temperature}}
            </span>
            <hr/>
          </div>
          
        </v-sheet>
      </template>
    </v-calendar>
  </v-card>
</template>

<script>
export default {
  props: {
    forecasts: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    maxDays: 5,
    calendarType: "custom-weekly"
  }),
  computed: {
    start() {
      // The component is expecting yyyy-mm-dd
      return new Date(Date.now() + 1  * 24 * 60 * 60 * 1000)
        .toISOString()
        .slice(0, 10);
    },
    end() {
      return new Date(Date.now() + 5 * 24 * 60 * 60 * 1000)
        .toISOString()
        .slice(0, 10);
    },
    weekdays() {
      // This computed array determines the DoTW that are displayed on the calendar [0-6]
      // https://vuetifyjs.com/en/components/calendars
      // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/fill
      const dayOfWeek = new Date().getDay();
      return Array(5)
        .fill(0)
        .map((v, idx) => (dayOfWeek + idx + 1) % 7);
    }
  }
};
</script>

<style>
</style>