<template>
  <v-card width="100%" dark color="secondary lighten-1">
      <v-card-title>
        Current Weather Conditions
      </v-card-title>
      <v-list color="secondary lighten-2">
          <TcpWeatherListItem v-for="(city, idx) in cities" :key="idx" :city="city"></TcpWeatherListItem>
      </v-list>
  </v-card>
</template>

<script>

export default {
    props: {
        cities: {
            type: Array,
            required: true
        }
    }
}
</script>

<style>

</style>