<template>
  <v-app class="dark-theme">
    <v-app-bar app dark>
      <div class="d-flex align-center" @click="returnHome">{{title}}</div>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-content>
      <div class="pa-1">
        <v-alert :type="alertType" v-if="alert">{{alert}}</v-alert>
      </div>
      <router-view :key="$route.fullPath" />
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({
    alert: "",
    alertType: ""
  }),
  mounted() {
    window.onoffline = event => {
      this.alertOffline();
    };
    window.ononline = event => {
      this.alertOnline();
    };
    if (!navigator.onLine) {
      this.alertOffline();
    }
  },
  beforeDestroy() {
    window.onoffline = null;
    window.ononline = null;
  },
  methods: {
    alertOffline() {
      this.alert = "Lost network connectivity";
      this.alertType = "error";
    },
    alertOnline() {
      this.alert = "Regained network connectivity";
      this.alertType = "info";

      // Clear alert and reload page to refresh data
      setTimeout(() => {
        this.alert = "";
        document.location.reload();
      }, 2000);
    },
    returnHome() {
      this.$router.push("/");
    }
  },
  computed: {
    title() {
      return process.env.VUE_APP_TITLE || "Weather";
    }
  }
};
</script>
<style scoped>
.dark-theme {
  background-color: #000 !important;
}
</style>